body {
  background: #fff;
  font-family: Helvetica, sans-serif;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (min-width: 700px) { 
  table.log {
    width: 700px;
    margin: 0 auto;
    table-layout: fixed;
  }

  table.log td:first-child {
    width: 35px;
  }

  body {
    font-size: 14px;
    line-height: 25px;
  }
}

table.log td:first-child {
  vertical-align: baseline;
  white-space: nowrap;
  padding-right: 4px;
}

table.log time {
  color: #888;
  font-size: 60%;
}

table.log .location img {
  margin-bottom: -4px;
}

table.log .user {
  font-style: italic;
}